@model TaskMVC.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>Details of Selected Fruit or Vegetable</h2>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><b>Id :</b>@Model.Id</li>
            <li class="list-group-item"><b>Name :</b>@Model.Name</li>
            <li class="list-group-item"><b>Price :</b>@Model.Price</li>
            <li class="list-group-item"><b>Quantity :</b>@Model.Quantity</li>
            <li class="list-group-item"><b>PackSize :</b>@Model.PackSize.PackSizeName</li>
            <li class="list-group-item"><b>Discount :</b>@Model.Discount</li>
            <li class="list-group-item"><b>TotalPrice :</b>@Model.TotalPrice</li>
            <li class="list-group-item"><b>Category :</b>@Model.Category.CategoryName</li>

        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Back to Index", "Index", "FruitsAndVegetables")
    </div>
</div>

